<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.openimis.imispolicies"
    android:versionCode="2"
    android:versionName="2.0.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="org.openimis.imispolicies.Global"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name="org.openimis.imispolicies.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.openimis.imispolicies.Enquire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Enquire"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.openimis.imispolicies.RenewList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Renewal"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.openimis.imispolicies.Renewal"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Renewal"
            android:parentActivityName="org.openimis.imispolicies.RenewList"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="org.openimis.imispolicies.FeedbackList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.openimis.imispolicies.Feedback"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="org.openimis.imispolicies.FeedbackList"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name="org.openimis.imispolicies.Statistics"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.openimis.imispolicies.Acquire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Acquire"
            android:screenOrientation="portrait" />
        <activity android:name="org.openimis.imispolicies.Reports"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.openimis.imispolicies.SnapshotIndicators"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/SnapshotIndicators"
            android:screenOrientation="portrait" />

        <activity android:name="org.openimis.imispolicies.CummulativeIndicators"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/CummulativeIndicators"
            android:screenOrientation="portrait" />
        <activity android:name="org.openimis.imispolicies.ControlNumbers" />
        <activity android:name="org.openimis.imispolicies.SearchOverViewPolicies" />
        <activity android:name="org.openimis.imispolicies.OverViewPolicies1" />
        <activity android:name="org.openimis.imispolicies.OverViewControlNumbers" />
        <activity android:name="org.openimis.imispolicies.SearchOverViewControlNumber" />
        <activity android:name="org.openimis.imispolicies.ViewPolicies" />
        <activity android:name="org.openimis.imispolicies.CheckCommission"></activity>
    </application>

</manifest>